body {
    background-color: black;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width:97%;
    height:56px;
    margin: auto;
}

li {
    list-style-type: none;
}

.nav-buttonContainer {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
}

#circle {
    border-radius: 50%;
    height: 16px;
    width: 18px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -4px;
    cursor: pointer;
}

#letter {
    margin-top: -31px;
    padding-right: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.searchContainer {
    background-color: black;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 2px;
}

.hamburger {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
}

#searchInput {
    width: 100%;
    background-color: black;
}

input {
    width: 580px;
    height: 24px;
    border: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 16px;
}

input[type="text"] {
    padding-left:10px;
}

#searchIcon {
    background-color: black;
    border: 1px solid gray;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 30px;
    width: 70px;
    border-radius: 2px;
}

#primaryWatch {
    background-color: green;
    float: left;
    width: 64.7%;
    height:1000px;
    margin-left: 90px;
    padding-top: 24px;
    padding-right: 57px;
}

.videoInfo {
    background-color: purple;
    width: 104.7%;
    height:95px;
    margin-top: -3.6px;
}

#secondaryWatch {
    background-color: red;
    float:right;
    width: 21.2%;
    height:1000px;
    margin-left: 24px;
    margin-right: 95px;
    padding-top: 24px;
}